@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Syne:wght@700;800&family=IBM+Plex+Sans:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;700;800&display=swap');
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-mono: 'JetBrains Mono', monospace;
  --font-sans: 'JetBrains Mono', monospace;
  --font-display: 'JetBrains Mono', monospace;

  --color-bg:       #030a0f;
  --color-surface:  #0b1820;
  --color-surface2: #0f2232;
  --color-accent:   #00e5ff;
  --color-accent2:  #ff6b35;
  --color-accent3:  #39ff14;
  --color-dim:      #4a6a7a;
  --color-bright:   #eaf6ff;
}

@layer base {
  body {
    background-color: var(--color-bg);
    color: #b8cfd8;
  }
}